<h1 class="page-title">Созданные заказы</h1>
<ul class="list">
  <li class="list__item" *ngFor="let o of orders">
    <div class="list__item-row__address">
        <div>{{ o.city?.name }}, {{ o.city?.address }}</div>
        <div>{{ o.city?.price | number }} &#8381;</div>
        <div>
          <a class="list__item__delete" (click)="ClickDelete(o)" href="#">x</a>
        </div>
    </div>
    <div class="list__item-row__detail">
        <div>{{ o.time | date:'dd MMMM yyyy HH:mm' }}</div>
        <div>{{ o.phone }}</div>
        <div>{{ o.name }}</div>
    </div>
  </li>
</ul>