.list {
    list-style: none;
    margin:0px;
    padding:0px;
    margin-top:20px;
    font-size:0.9em;
}

.list__item {
    padding:10px 0px;
    position:relative;
    border-bottom:1px #ccc solid;
}
.list__item:last-child {
    border-bottom:none;
}

.list__item-row__address {
    display:grid;
    grid-template-columns: 1fr 140px 30px;
}

.list__item__delete {
    position: absolute;
    top:10px;
    right:0px;
    padding: 4px 7px 6px 7px;
    background-color: #ee7722;
    color: #fff;
    line-height: 12px;
    display: none;
    text-decoration: none;
}

.list__item__delete:hover {
    background-color:#db4400;
}

.list__item:hover .list__item__delete {
    display: inline-block;
}

.list__item-row__detail {
    display:grid;
    grid-template-columns: 200px 170px 1fr;
}