<div class="content">
  <header class="header">
    <div class="logo"></div>
    <nav class="menu">
      <a class="menu__item" routerLink="/" routerLinkActive="menu__item__selected" [routerLinkActiveOptions]="{ exact: true }">Запись</a>
      <a class="menu__item" routerLink="/orders" routerLinkActive="menu__item__selected">Заказы</a>
    </nav>
  </header>
  <div class="content__component">
    <router-outlet></router-outlet>
  </div>
</div>
