.header {
    display:block;
    height:115px;
    width:100%;
    position:relative;
}
.logo {
    background: url("/assets/logo.svg") no-repeat;
    height:40px;
    position: absolute;
    bottom:0px;
    left:0px;
    z-index:1;
    width:140px;
}
.content {
    width:540px;
    box-sizing: border-box;
    margin:auto;
}

.menu {
    display:block;
    position:absolute;
    top:0px;
    left:0px;
}
.menu__item {
    display: inline-block;
    margin-right: 1px;
    padding: 10px 20px;
    background-color: #e8e8e8;
    color: #777;
    text-decoration: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.menu__item:last-child {
    margin-right:0px;
}
.menu__item__selected {
    background-color: #5e8fbe;
    color: #fff;
    padding-bottom: 16px;
}