body, html {
    margin:0px;
    padding:0px;
    background-color: #fff;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size:14px;
    color:#181818;
}

a {
    color:#1b75cc;
}
a,input,select,textarea,button {
    outline: none;
}

h1,h2,h3,h4 {
    margin:0px;
    padding:0px;
    font-weight: normal;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    margin: 16px 10px;
    background-image:url("/assets/arrow.png");
    background-size: 27px 10px;
    background-repeat: no-repeat;
    background-position: center right;
    background-color: transparent;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    width: 20px;
    height: 20px;
    border-width: thin;

}
input[type=date] {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
input[type=time]::-webkit-inner-spin-button {
    margin: 16px 10px;
}

.page-title {
    font-size:1.6em;
    position:relative;
}
.image__loader {
    position: relative;
    top: 10px;
    margin-left: 20px;
}

.content__component {
    margin-top:20px;
}
.form__container {
    width:100%;
    box-sizing: border-box;
    margin-bottom:20px;
}
.form__container:last-child {
    margin-bottom:0px;
}

.form__container__columns {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    box-sizing: border-box;
}

.form__container__inform {
    padding-left:20px;
}
.inform-row {
    margin-bottom:4px;
}
.inform-row:last-child {
    margin-bottom:0px;
}

.form {
    display:block;
    margin-top:40px;
}

.form__container__field-select,
.form__container__field-text {
    width: 100%;
    position: relative;
}

.form__container__select,
.form__container__input {
    background-color: #e8e8e8;
    border-radius: 6px;
    border: 1px transparent solid;
    color: #181818;
    height: 60px;
    font-weight: bold;
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3em;
    outline: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.form__container__select {
    background-image:url("/assets/arrow.png");
    background-size: 27px 10px;
    background-repeat: no-repeat;
    background-position: center right;
}

.form__container__select:focus,
.form__container__input:focus {
    background-color: #fff;
    border-color: #c1c1c1;
    box-shadow: 0px 6px 16px rgba(0,0,0,0.26);
}

.form__container__select:invalid,
.form__container__select.input__error,
.form__container__input:invalid,
.form__container__input.input__error {
    background-color: #fae6e9;
    color:#de0821;
}

.form__disabled {
    opacity:0.5;
}

.form__container__field-buttons {
    text-align: center;
    padding-top: 10px;
}

.form__container__submit {
    height: 60px;
    text-align: center;
    color: #fff;
    background-color: #db001b;
    border: none;
    font-size: 1.3em;
    padding: 0px 30px;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(255,0,0,0.2);
    cursor: pointer;
}
.form__container__submit:disabled {
    background-color: #c0c2c0;
    color:#fff;
    box-shadow:none;
}

.form__container__error {
    color:#de1021;
    padding:8px 0px;
}

.form__confirm {
    margin:30px 0px 100px 0px;
    color:#c2c2c2;
    line-height: 18px;
    font-size: 0.8em;
}

.inform__phone__item {
    display:inline-block;
    margin-right:10px;
    color:#1b75cc;
}
.inform__phone__item::after {
    content:",";
}
.inform__phone__item:last-child::after {
    content:"";
}

.modal {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 99;
}

.modal__message {
    position: absolute;
    width:540px;
    top:40%;
    left:50%;
    margin-left:-270px;
    text-align:center;
}
.modal__message__success {
    padding:30px 0px;
    color:#fff;
    background-color:#589375; 
    font-size:1.8em;
    border-radius:6px;
    cursor:pointer;
}

.modal__goto {
    display: inline-block;
    margin-top: 20px;
}