<h1 class="page-title">Онлайн запись<img *ngIf="reactiveForm.disabled" class="image__loader" src="/assets/ajax-loader.gif" /></h1>
<div class="modal" *ngIf="confirm" (click)="SwitchConfirm(false)">
    <div class="modal__message">
        <div class="modal__message__success">Заказ успешно создан!</div>
        <a class="modal__goto" routerLink="/orders">Перейти к заказам</a>
    </div>
</div>
<form action="#" [formGroup]="reactiveForm" class="form" (submit)="Submit()" [ngClass]="{'form__disabled': reactiveForm.disabled}">
    <div class="form__container">
        <div class="form__container__field-select">
            <select class="form__container__select" name="city" formControlName="city" required (change)="ChangeCity()">
                <option *ngFor="let c of cities" [ngValue]="c">{{ c.name }}</option>
            </select>
        </div>
    </div>
    <div class="form__container form__container__inform" *ngIf="reactiveForm.value.city !== null">
        <div class="inform-row inform__address">{{ reactiveForm.value.city.address }}</div>
        <div class="inform-row inform__phone">
            <span class="inform__phone__item" *ngFor="let phone of reactiveForm.value.city.phones">{{ phone | phoneFormat }}</span>
        </div>
        <div class="inform-row inform__price">стоимость услуги {{ reactiveForm.value.city.price | number }} &#8381;</div>
    </div>
    <div class="form__container form__container__columns">
        <div class="form__container__field-select">
            <select (change)="ChangeDate()" class="form__container__select" name="date" formControlName="date" required [ngClass]="{'input__error' : this.reactiveForm.controls.date.invalid}">
                <option [value]="null">Дата</option>
                <option *ngFor="let d of dates" [value]="d">{{ d | date:'EEEE, dd MMMM' }}</option>
            </select>
            <div *ngIf="this.reactiveForm.controls.date.invalid" class="form__container__error">Пожалуйста, выберите дату!</div>
        </div>
        <div class="form__container__field-select">
            <select class="form__container__select" name="time" formControlName="time" required [ngClass]="{'input__error' : this.reactiveForm.controls.time.invalid}">
                <option [value]="null">Время</option>
                <option *ngFor="let t of times" [value]="t.date">{{ t.begin }}&ndash;{{ t.end }}</option>
            </select>
            <div *ngIf="this.reactiveForm.controls.time.invalid" class="form__container__error">Укажите время!</div>
        </div>
    </div>
    <div class="form__container">
        <div class="form__container__field-text">
            <input autocomplete="off" type="text" appPhone class="form__container__input" [ngClass]="{'input__error' : this.reactiveForm.controls.phone.invalid}" placeholder="+7 (___)___-__-__" formControlName="phone" name="phone" required value="+7 92433322">
            <div *ngIf="this.reactiveForm.controls.phone.invalid" class="form__container__error">Пожалуйста, введите корректный телефон!</div>
        </div>
    </div>
    <div class="form__container">
        <div class="form__container__field-text">
            <input autocomplete="off" type="text" class="form__container__input" [ngClass]="{'input__error' : this.reactiveForm.controls.name.invalid}" placeholder="Ваше имя" formControlName="name" name="name" required value="">
            <div *ngIf="this.reactiveForm.controls.name.invalid" class="form__container__error">Пожалуйста, укажите ваше имя!</div>
        </div>
    </div>
    <div class="form__container">
        <div class="form__container__field-buttons">
            <button [disabled]="reactiveForm.invalid || reactiveForm.disabled" class="form__container__submit">Записаться</button>
        </div>
    </div>
    <div class="form__confirm">
        <p>Нажимая "Записаться" я выражаю своё согласие с обработкой моих персональных<br>данных в соответствии принятой <a href="#">политикой конфиденциальности</a> и принимаю<br><a href="#">пользовательское соглашение</a>.</p>
    </div>
</form>